<% content_for :title do %>
  POP | Cadastrar
<% end %>

<div><img id="logo" class="img-responsive"src="/assets/logo_pop.jpg"></div>

<div>
  <div id="TituloCadastro" class="textoEstaticoCadastro">
    Realize seu cadastro
  </div>
</div>
<div>
  <div id="NomeForum" class="textoEstaticoCadastro">
    Conselho das Subprefeituras de São Paulo </br> CADASTRO
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal', id: 'LoginForm'}) do |f| %>
  	<%= devise_error_messages! %>
	<div class="form-group">
	    <div class="col-sm-4 col-sm-offset-4">
	      <%= f.email_field :email, :placeholder => "E-mail", :autofocus => true, class: 'form-control' %>
	    </div>
	</div>

  	<div class="form-group">
	      <div class="col-sm-4 col-sm-offset-4">
	        <%= f.password_field :password, :placeholder => "Senha", class: 'form-control' %>
	      </div>
	</div>

	<div class="form-group">
	      <div class="col-sm-4 col-sm-offset-4">
	        <%= f.password_field :password_confirmation, :placeholder => "Corfirme sua senha", class: 'form-control' %>
	      </div>
	</div>

	<div class="form-group">
	    <div class="col-sm-4 col-sm-offset-4">
	      <%= text_field_tag "codigo", nil, placeholder: 'Código de acesso', autofocus: true, class: 'form-control' %>
	    </div>
	</div>

	<div class="form-group">
  		<div class="col-sm-offset-4 col-sm-4">
      	<%= button_to('Cadastrar', new_user_registration_path, :class => 'btn btn-warning center-block', :method => :get) %>
      	
      	</div>
  	</div>



<div class="form-group">
  	<div class="col-sm-offset-4 col-sm-4">

  		<%= button_to( 'Login',  new_user_session_path , :class => 'btn btn-default center-block', :method => :get, id: "botaoVoltarCadastro") %><br />
  		<%= button_to('Termos de Uso', 'http://google.com', :class => 'btn btn-default center-block', :method => :get, id:"termoCadastro")  %>
  	</div>
 </div>

<% end %>


