<%# TODO achar uma forma melhor de pegar o índice do item %>
<% offset = (list.current_page - 1) * 10 + 1 %>

<ul class="list-group">
		<% list.each_with_index do |proposta, index| %>
			
			<li class="list-group-item" data-toggle="collapse" data-target="#proposta_<%= proposta.id %>" aria-expanded="false" aria-controls="proposta_<%= proposta.id %>">
				<div class="row" >
					<% if(!proposta.esta_ativa)
							classe_glyphicon = "glyphicon glyphicon-remove-sign"
							estilo_glyphicon = "font-size:large; color:black"
						elsif (current_user.usuario_realizou_acao_hoje( proposta)&& (proposta.esta_ativa))
							classe_glyphicon = "glyphicon glyphicon-ok-sign"
							estilo_glyphicon = "font-size:large; color:green"
						
						else 
							classe_glyphicon = "glyphicon glyphicon-record"
							estilo_glyphicon = "font-size:large; color:grey"
						end %>
					<div class = "col-lg-2 col-xs-2"><span class="<%= classe_glyphicon %>" style="<%= estilo_glyphicon %>" aria-hidden="true"></span></div>

					<div class = "col-lg-8 col-xs-8">
					[<%=label_tag proposta.codigo %>]
					<%=label_tag proposta.descricao.truncate(15) %>
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
					</div>	
					<div class = "col-lg-2 col-xs-2">
						<span class="badge"><%= proposta.votos.count %></span>
					</div>
				</div>

				<div class="collapse" id="proposta_<%= proposta.id %>">
			    	<div class="well"> 
			    		PROPOSTA:<%=label_tag proposta.id%>
			    		 	<br>			
			    		 	<%=label_tag proposta.descricao%> 
			    		<hr>
			    		<div class="row" >
			    			<div class = "col-lg-2"> Rank: </div>
			    			<div class = "col-lg-8"> <label><%= proposta.sub_prefeitura.nome %> </label> <br> <%=label_tag proposta.sub_prefeitura.cidade%></div>
			    			<div class = "col-lg-2"> #<%=label_tag proposta.get_ranking_subprefeitura %> <br> # <%= index + offset %> </div>  
						</div>
			    		<hr>
			    		<div class="row" >
			    			<div class = "col-lg-2"> Tema </div>
			    			<div class = "col-lg-8"> <%=label_tag proposta.tema_principal.nome%> 
							<% unless proposta.tema_opcional.nil? %>
				    			<br><%=label_tag proposta.tema_opcional.nome %> </div>
							<% end %>
			    		</div>		
			    	</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row" >
					<% ja_votou = current_user.usuario_realizou_acao_hoje( proposta) %>
					<% esta_ativa =  proposta.esta_ativa%>
					<div class="col-xs-6">
						<%= button_to('Apoiar', votos_create_path(:proposta_id => proposta.id), :class => 'btn btn-warning -block btn-xs', :method => :post,  disabled: (ja_votou || !esta_ativa)) %>

					</div>
					<div class="col-xs-6">

						<%= link_to('Vetar', new_veto_path(:proposta_id => proposta.id), :class => 'btn btn-danger -block btn-xs', :method => :get, disabled: (!esta_ativa)) %>
					</div>
				</div>
				
				
			<!--<div class="col-xs-offset-4"><button type="button" class="btn btn-warning btn-xs">Veto</button></div-->
			</li> 
			<br/>

		<% end %>
</ul>
