<% content_for :title do %>
  POP | Propostas
<% end %>

<h2>Propostas</h2>
<div class= "col-sm-4 col-sm-offset-4">
	<ul class="list-group">
		<% @list.each do |proposta| %>
			<li class="list-group-item" data-toggle="collapse" data-target="#proposta_<%= proposta.id %>" aria-expanded="false" aria-controls="proposta_<%= proposta.id %>">
				<span class="badge"><%= proposta.votos.count %></span>
				<%=label_tag proposta.descricao.truncate(15) %>
				<div class="collapse" id="proposta_<%= proposta.id %>">
			    	<div class="well"> 
			    		<%=label_tag proposta.descricao%> 	
			    	</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="col-xs-1">
					<%= button_to('Apoiar', new_voto_proposta_path(proposta.id), :class => 'btn btn-warning center-block btn-xs', :method => :post) %>
				</div>
				<div class="col-xs-offset-4"><button type="button" class="btn btn-warning btn-xs">Veto</button></div>
			</li> 
			<br/>

		<% end %>
	</ul>
</div>
